title {
    color: rgb(2, 0, 4)
} h1
{color:rgb(4, 0, 8)}
h2 {
    color:rgb(56, 206, 206)
}
body{
    background-color: rgb(90, 4, 61);
    font size: 50px;
    color: azure;
    text-align: center;

}
}